# Python
__pycache__/
*.py[cod]
*.egg-info/

# Django
*.sqlite3
staticfiles/
media/

# Environment
.venv/
.env

# Tooling
.ruff_cache/
.pytest_cache/
.mypy_cache/

# Editors
.vscode/
.idea/
*.swp

# OS
.DS_Store
