DEBUG=True
SECRET_KEY=django-insecure-change-me
ALLOWED_HOSTS=localhost,127.0.0.1

DATABASE_URL=postgres://jobsboard:jobsboard@127.0.0.1:5432/jobsboard
REDIS_URL=redis://127.0.0.1:6379/0
EMAIL_URL=consolemail://
DEFAULT_FROM_EMAIL=webmaster@localhost
