DEBUG=True
SECRET_KEY=change-me
ALLOWED_HOSTS=127.0.0.1,localhost

DATABASE_URL=postgres://jobs_board:jobs_board@127.0.0.1:5432/jobs_board
REDIS_URL=redis://127.0.0.1:6379/0

EMAIL_URL=consolemail://
DEFAULT_FROM_EMAIL=webmaster@localhost

LOGIN_URL_TIMEOUT=900
