# Python
__pycache__/
*.py[cod]
*.egg-info/

# uv / venv
.venv/

# Django
*.sqlite3
staticfiles/
media/

# Env
.env

# Tooling
.ruff_cache/
.mypy_cache/
.pytest_cache/

# Editors
.vscode/
.idea/
*.swp

# OS
.DS_Store
