# Django
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=example.com,localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=https://example.com
DJANGO_BEHIND_PROXY=True
DATABASE_URL=postgres://postgres:CHANGE_ME@db:5432/postgres
WEB_CONCURRENCY=4

EMAIL_URL=smtp+tls://user:pass@smtp.example.com:587
DEFAULT_FROM_EMAIL=no-reply@example.com
SERVER_EMAIL=django@example.com
DJANGO_ADMINS=ops@example.com

SITEMAP_URL=https://example.com/sitemap.xml

STRIPE_PUBLISHABLE_KEY=pk_live_...
STRIPE_SECRET_KEY=sk_live_...
STRIPE_WEBHOOK_SECRET=whsec_...

# Postgres
POSTGRES_PASSWORD=CHANGE_ME
