# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environment
.venv/

# Django
*.sqlite3
staticfiles/
media/
celerybeat-schedule*

# Env
.env

# i18n compiled catalogs
*.mo

# Editor / OS
.DS_Store
.idea/
.vscode/
